<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
	<title>Delete Tweets</title>
	<link href="wallstyle.css" rel="stylesheet" type="text/css" />
</head>

<body class="wallbody">
<div class ="login">
    <form action = "logout.do" method="post">
    logged as <em>$loggedUserNAME</em>
	<input type="submit" name="action" value="logout">
	</form>
</div>
<div class ="heading">
	<h1 class="walltitle">Delete Tweets</h1>
</div>

<form action="update" method="post">
#foreach ($dt in $deletableTweets)
	<div class="wallitem">
		<div class="likes">
			<center><strong>delete?</strong><br/><br/>
			<input id="check_$dt.tweetID" name="tweetids" value="$dt.tweetID" type="checkbox">
			</center>
		</div>
		<div class="item">
		<p><em>Published on $dt.tweetDate @ $dt.tweetHour</em> : <strong>$dt.likes</strong> likes<p>
		<p>$dt.content</p>
		</div>
	</div>
#end
<div class="wallitem">
<center>Write your password <input name="userpasswd" type="password" size=20> 
 to <strong>Delete</strong> selected tweets -&gt; <input name="action" value="delete" type="submit">
 | Go to the <a href="wall">main page</a></center>
</div>
</form>
</body>
</html>
